body{
  background-color: aqua;
}
@media screen  and (min-width:480px) and (max-width:720px) {
  body{
    background-color: blue;
  }
  .container{
    color: rgb(74, 230, 35);
  }
  p a{
    background-color: rgb(227, 227, 230);
  }

}
@media screen  and (min-width:480px) and (max-width:720px) {
  .container6{
    background-color: rgb(41, 208, 11);

  }
}
.container1{
    position: absolute;
    margin-left: 1px;
    margin-top: 200px;
    position: fixed;
    
}
.container1 a:hover{
    background-color: rgb(187, 76, 76);
    padding: 2px;
}
.container2
 {
    margin-left: 550px;
    background-color: rgb(189, 189, 169);
    display: grid;
    height: 1400px;
    width: 1405px;
    grid-template-columns: 466px 466px 466px;
    grid-template-rows: 466px 466px 466px;
}


.container2>div{
    background-color: rgb(213, 21, 21);
    gap: 10px;
    
}
.box:hover{
   
    opacity: 0.7;
}

.container3

{
    margin-left: 1200px;
}
.a:hover{
    background-color: black;
    padding: 8px;
   
}

.container4

{
    margin-left: 550px;
    background-color: rgb(113, 108, 108);
    
}
.divider{
    width: 100px;
    height: 1px;
    background-color: rgb(131, 83, 83);
    display: inline-block;
    
  }
.container{
    width: 25%;
    background-color: rgb(104, 103, 105);
    margin-left: 550px;
    
   
  }
  .skillset{
    
    text-align: right;
    color: white;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  p{
    margin-bottom: 2px;
    font-size: 22px;
  }
  .Photography{
    
      width: 95%;
  background-color: rgb(230, 68, 68);
  
  
  }
  
  .WebDesign{
    width: 85%;
    background-color: rgb(199, 173, 173);
  }
  .Photoshop{
    width: 75%;
    background-color: rgb(123, 123, 153);
  }
  .button:hover{
    background-color: rgb(133, 133, 139);
    padding: 10px;
    
  }
  .name{
    text-align: left;
    padding-left: 550px;
  }
.container5{
    position: absolute;
}

.bottom{
    width: 100%;
    background-color: rgb(2, 2, 2);
    height: 100px;
    position: absolute;
   justify-content: center;
   align-content: center;
margin-left: 520px;

  }
  
  .containerx
  
  {
    margin-left: 550px;
    background-color: rgb(113, 108, 108);
  }
  .container6{
    float: left;
    width: 25%;
    margin-left: 550px;
   
    

  }
.container p{
    word-break: break-all;
   
}
  
    


